.footerStyle {
  background: #120d48;
  color: #fff;
  font-family: var(--nunito-font);
  padding: 50px 0 30px 0;
  margin-top: -10px;
}
.footer-links {
  margin: 12px 0;
}
.footer-links:hover {
  color: var(--color);
  cursor: pointer;
}
.footer-icons {
  font-size: 30px;
  padding: 8px;
  color: #fff;
  background: var(--button-bg);
  margin-right: 20px;
  border-radius: 50%;
  text-align: left;
}
.subscribe {
  margin: 0.8rem 0;
  width: 70%;
  padding: 10px 20px;
  font-family: var(--nunito-font);
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.subscribe:focus {
  outline: var(--color);
}
.footer-bg-wave{
  fill:#120d48;
  background-color: white;
}
.copyright-text{
font-size: 13px;
text-align: left;
margin-top: 30px;
color: #fff;
}