.product-card-button:hover {
  background-color: var(--color) !important;
  color: white;
}
.product-card {
  max-width: 325px;
  margin: 0  auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: var(--box-shadow) !important;
}
