.css-1y942vo-MuiButtonBase-root-MuiButton-root {
  text-transform: none !important;
  font-size: 18px !important;
}
.dashboard-drawer {
  display: flex;
}
a.active {
  background: rgb(26, 115, 232);
}
.dashboard-link {
  color: white;
  padding: 5px 16px;
  margin: 4px 15px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}
.dashboard-link:hover {
  background: rgba(255, 255, 255, 0.2);
}
.dashboard-link-icon {
  font-size: 35px;
  margin-bottom: 2px;
  padding-right: 10px;
}
.dashboard-link-icon path {
  fill: white;
}
